.alpha-ui {
    h2 {
        font-size: 1rem !important;
        border: none;
        margin: 0px;
        font-weight: 500;
    }

    button:hover,
    button:focus {
        box-shadow: unset;
    }
    a:hover {
        text-shadow: unset;
    }
}
