[data-theme="dark"] {
    --p: 210 64% 31%;
    --pf: 210 64% 24%;
    --sf: 200 13% 44%;
    --af: 13 80% 48%;
    --nf: 213 14% 13%;
    --b2: 0 0% 11%;
    --b3: 0 0% 10%;
    --bc: 0 0% 83%;
    --pc: 210 100% 86%;
    --sc: 200 100% 11%;
    --ac: 13 100% 12%;
    --nc: 213 28% 83%;
    --inc: 199 100% 88%;
    --suc: 144 100% 11%;
    --wac: 39 100% 12%;
    --erc: 6 100% 89%;
    --s: 200 13% 55%;
    --a: 13 80% 60%;
    --n: 213 14% 16%;
    --b1: 0 0% 13%;
    --b2: 0 0% 18%;
    --in: 199 100% 42%;
    --su: 144 31% 56%;
    --wa: 39 64% 60%;
    --er: 6 56% 43%;

--window-background: transparent;
}

[data-theme="light"] {
    --p: 190 55% 41%;
    --pf: 196 98% 40%;
    --pc: 0 0% 100%;
    --s: 15 98% 54%;
    --sf: 15 84% 44%;
    --sc: 0 0% 100%;
    --a: 190 100% 26%;
    --af: 190 100% 17%;
    --ac: 0 0% 100%;
    --n: 210 14% 32%;
    --nf: 210 12% 21%;
    --nc: 0 0% 100%;
    --b1: 0 0% 100%;
    --b2: 0 0% 90%;
    --b3: 0 0% 80%;
    --b2: 210 16% 95%;
    --b3: 206 9% 84%;
    --bc: 210 14% 32%;
    --in: 196 90% 32%;
    --su: 196 100% 46%;
    --wa: 39 100% 50%;
    --er: 0 78% 63%;

--window-background: var(--b3);
}

